{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Services | Crystal Events</title>
  <link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'home/css/work.css' %}">
  <link rel="icon" href="favicon.ico">
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light py-lg-3 mt-3" style="border: 2px solid #F5820E;">
      <div class="container">
        <a href="{% url 'home:index' %}" class="navbar-brand">
          <img src="{% static 'home\img/landing-page img/site-logo.png' %}" width="20" height="20" class="img-fluid" alt="logo" />
          <span class="site-logo">CRYSTALEVENT</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto ">
            {% if request.user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link fw-bold bg-signup" href="{% url 'accounts:signout' %}">Sign out</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link fw-bold" aria-current="page" href="{% url 'accounts:login' %}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-bold bg-signup" href="{% url 'accounts:sign-up' %}">Sign up</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-light bg-color">
      <div class="container">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{% url 'home:index' %}">
                <p class="fw-bold me-5 actived">Home</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home:service' %}">
                <p class="fw-bold me-5 ">Services</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home:work' %}">
                <p class="fw-bold me-5">Work</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home:faq' %}">
                <p class="fw-bold me-5">FAQ</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home:contact' %}">
                <p class="fw-bold me-5">Contact Us</p>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>


  <main id="">

    <div class="container d-flex align-items-center justify-content-center my-5">
      <h3 class="display-5 fw-bold text-dark">
        Our featured works
      </h3>
    </div>

    <!-- video section start -->
    <div class="row row-cols-1 row-cols-md-2 g-4 mx-auto" style="width: 95%;">
      <div class="col">
        <div class="">

          <div class="ratio ratio-16x9 embed-responsive ">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/B9UpHVRb8eE"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </div>

          <div class="card-body">
            <p class="card-text text-center">Exclusive wedding party at <br /> songotedo Lagos.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="">

          <div class="ratio ratio-16x9 embed-responsive ">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/9q4y0FG_DiY"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </div>

          <div class="card-body">
            <p class="card-text text-center">Exclusive wedding party at <br /> songotedo Lagos.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="">

          <div class="ratio ratio-16x9 embed-responsive ">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/vsx52HqRQYI"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </div>

          <div class="card-body">
            <p class="card-text text-center">Exclusive wedding party at <br /> songotedo Lagos.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="">

          <div class="ratio ratio-16x9 embed-responsive ">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/zZShwh1_vzk"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </div>

          <div class="card-body">
            <p class="card-text text-center">Exclusive wedding party at <br /> songotedo Lagos.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="">

          <div class="ratio ratio-16x9 embed-responsive ">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/ddSbxSJHQg0"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </div>

          <div class="card-body">
            <p class="card-text text-center">Exclusive wedding party at <br /> songotedo Lagos.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="">

          <div class="ratio ratio-16x9 embed-responsive ">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/jLniBUVNC84"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </div>

          <div class="card-body">
            <p class="card-text text-center">Exclusive wedding party at <br /> songotedo Lagos.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="">

          <div class="ratio ratio-16x9 embed-responsive ">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/lLJ6bFVdBLk"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </div>

          <div class="card-body">
            <p class="card-text text-center">Exclusive wedding party at <br /> songotedo Lagos.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="">

          <div class="ratio ratio-16x9 embed-responsive ">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/nYmdhXHHe50"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </div>

          <div class="card-body">
            <p class="card-text text-center">Exclusive wedding party at <br /> songotedo Lagos.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- video section end -->


    <div class="container d-flex align-items-center justify-content-center my-5">
      <a href="https://www.youtube.com/channel/UC1yZ4D3mKu3qtOmDIXrzFkg"><button class="btn bg-hire text-white btn-lg"
          type="button" id="button-addon2">View More Gallery</button></a>
    </div>
  </main>



  <footer id="sec-five" class="pt-5">
    <div class="container">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 mx-auto">
            <div class="input-group my-3 d-flex flex-wrap gap-3 align-items-center justify-content-center">
              <input type="email" class="form-control py-3 d-inline-flex new-family"
                style="background-color: #3A3A3A; color: #ffffff;" placeholder="Email Address"
                aria-label="Email Address" aria-describedby="button-addon2">
              <button class="btn bg-hire text-white btn-lg new-family" type="button"
                id="button-addon2">SUBSCRIBE</button>
            </div>
          </div>
        </div>
      </div>

      <section class="">
        <div class="container text-white mt-3 footer-links">
          <div class="row mt-3 text-start">
            <div class="col-lg-3 col-md-6 col-6 mb-3 new-family">
              <p class="fw-bold mb-3 new-family">COMPANY</p>
              <a href="#" class="text-secondary text-decoration-none mb-4 d-block new-family">My Account</a>
              <a href="{% url 'home:about' %}" class="text-secondary text-decoration-none mb-4 d-block new-family">About Us</a>
              <a href="{% url 'home:faq' %}" class="text-secondary text-decoration-none mb-4 d-block new-family">Faqs</a>
              <a href="{% url 'home:contact' %}" class="text-secondary text-decoration-none mb-4 d-block new-family ">Contact Us</a>
            </div>

            <div class="col-lg-3 col-md-6 col-6 mb-3 new-family">
              <p class="fw-bold mb-3 new-family">CUSTOMER SERVICE</p>
              <a href="{% url 'home:tc' %}" class="text-secondary text-decoration-none mb-4 d-block new-family">Terms &
                Conditions</a>
              <a href="{% url 'home:refunds' %}" class="text-secondary text-decoration-none mb-4 d-block new-family">Returns &
                Refunds</a>
              <a href="#" class="text-secondary text-decoration-none mb-4 d-block new-family">Help &
                Supports</a>
              <a href="{% url 'home:privacy' %}" class="text-secondary text-decoration-none mb-4 d-block new-family">Privacy</a>
            </div>

            <div class="col-lg-3 col-md-6 col-6 mb-3 new-family">
              <p class="fw-bold mb-3 new-family">SOCIAL MEIDA</p>
              <a href="https://twitter.com/"
                class="text-secondary text-decoration-none mb-4 d-block new-family">Twitter</a>
              <a href="https://www.linkedin.com/"
                class="text-secondary text-decoration-none mb-4 d-block new-family">LinkedIn</a>
              <a href="https://instagram.com/"
                class="text-secondary text-decoration-none mb-4 d-block new-family">Instagram</a>
            </div>

            <div class="col-lg-3 col-md-6 col-6 mb-3">
              <p class="fw-bold mb-3 new-family">ARCHIVE</p>
              <a href="#" class="text-secondary text-decoration-none mb-4 d-block new-family">Price
                List</a>
              <a href="#" class="text-secondary text-decoration-none mb-4 d-block new-family">Our
                Vendors</a>
              <a href="#" class="text-secondary text-decoration-none mb-4 d-block new-family">Event
                Category</a>
            </div>

          </div>
        </div>
      </section>
  </footer>

  <section id="sec-six">
    <div class="text-center text-light p-3">© Crystal events 2022 all rights reserved.</div>
  </section>

  <script src="{% static 'home/js/bootstrap.min.js' %}"></script>
</body>

</html>