@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Playfair Display;
}

.bg-signup {
  background: #F5820E;
  border-radius: 8px;
}

.mobile-slide {
  display: none;
}

.new-family {
  font-family: 'Source Sans Pro', sans-serif !important;
}

.site-logo,
.family-hire {
  font-family: sans-serif;
}

.bg-color {
  background-color: #FFEDDC;
}

.meet-img img {
  width: 20vw;
}

#sec-one {
  width: 100%;
  min-height: 70vh;
  background-image: url("../img/about-image.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 2rem 0;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
}

#sec-one__container {
  width: 100%;
  position: absolute;
  bottom: 5%;
  color: #fff;
  text-align: center;
  overflow: hidden;
  padding: 2rem 0;
}

/* button */
.bg-hire {
  background-color: #F5820E;
  padding: 0.8rem 4rem;
}

.btn-social{
  display: none ;
}
.btn-wrapper{
  display: flex;
}

.bg-hiree {
  padding: 0.8rem 4rem;
}

.bg-hires {
  color: #F5820E;
  padding: 0.8rem 4rem;
}

.carousel-btn {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  margin-right: 0.5rem;
}

.holder {
  width: 80%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 5%;
  color: #fff;
  left: 10%;
  text-align: center;
}

#sec-one__container {
  width: 100%;
  position: absolute;
  bottom: 5%;
  color: #fff;
  text-align: center;
  overflow: hidden;
  padding: 2rem 0;
}

.f-screen p {
  width: 50%;
}

#sec-five {
  background-color: #3A3A3A;
}

@media screen and (max-width: 769px) {
  .meet-team {
   flex-direction: column;
  }

  .meet-img img {
    width: 95%;
   }

   .bg-signup {
    width: 70px;
    text-align: center;
   }
 }


@media screen and (max-width: 426px) {
 .meet-team {
  flex-direction: column;
 }

 .f-screen p {
  width: 100%;
 }

 /* .meet-img img {
  width: 95%;
 } */

 #sec-five .input-group input {
  width: 100%;
}
}

@media screen and (max-width: 376px) {
  .footer-links {
    font-size: 12px;
  }
 }


