@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Playfair Display;
}

body {
  overflow-x: hidden;
}

.bg-signup {
  background: #F5820E;
  border-radius: 8px;
}


/* HEADER */
.site-logo {
  font-family: sans-serif;
}

.bg-color {
  background-color: #FFEDDC;
  transition: all ease 0.5s;
}
/* .bg-color:hover{
  background-color:  #FAC086 ;
} */

/* .nav-link:hover p{
  border-bottom: 3px solid black;
} */

.active {
  border-bottom: 3px solid black;
}

.new-family {
  font-family: 'Source Sans Pro', sans-serif !important;
}

/* MAIN SECTION */
#main{
  background-color: #F8F9FA;
}
.main h2{
  font-weight: 900;
}
.bg_orange{
  color: #FAC086 ;
  font-weight: 600;
}
.border-btm{
  border-bottom: 3px solid #FAC086;
}
.text .faq{
  width: 100%;
}

.faq-part h3{
  font-weight: 900;
  padding-left: 20px;
}

.form form input{
  width: 35%;
  height: 60px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;  
}
.form form .btn{
  background-color: #F5820E;
  width: 8%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}


/* FOOTER */
footer .site-logo {
  font-family: sans-serif;
}

footer .bg-hire {
  background-color: #F5820E;
  padding: 0.8rem 4rem;
}

.bg-color {
  background-color: #FFEDDC;
}

.unstyled {
  list-style: none;
}

.new-family {
  font-family: 'Source Sans Pro', sans-serif !important;
}

#sec-five {
  background-color: #3A3A3A;
}

/* MEDIA QUERIES */
@media all and (max-width:960px){
  .w-75{
    min-width: 90%;
  }
   
}
@media all and (max-width: 769px) {
  .nav-link.underline:after{
    display: none;
  }
  .card-holder {
    width: 100%;
}
.card-holder2{
  display: none;
}
.active {
  border: none;
}

.nav-link:hover p {
  border-bottom: none;
}

.bg-signup {
  width: 70px;
  text-align: center;
 }


}

@media all and (max-width: 450px) {
  .card-holder {
    width: 100%;
}
.card-holder2{
  display: none;
}
.form form input{
  width: 65%;
}
.form form .btn{
  background-color: #F5820E;
  width: 14%;
}
#sec-five .input-group input {
  width: 100%;
}

.accordion-item button, .accordion-body {
  font-size: 11px;
}
}

@media (max-width: 426px) {
  #sec-five .input-group input {
    width: 100%;
  }
}

@media only screen and (max-width:376px){
  .form form input{
    width: 65%;
      }
  .form form .btn{
    width: 18%;
      }
  
    .footer-links {
      font-size: 12px;
    }
      
}




