* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Playfair Display;
}

.bg-signup {
    background: #F5820E;
    border-radius: 8px;
}

.site-logo {
    font-family: sans-serif;
}

.bg-hire {
    background-color: #F5820E;
    padding: 0.8rem 4rem;
}

.bg-color {
    background-color: #FFEDDC;
}

.new-family {
    font-family: 'Source Sans Pro', sans-serif !important;
}

#sec-five {
    background-color: #3A3A3A;
}

@media (max-width: 770px) {
    .bg-signup {
        width: 70px;
        text-align: center;
    }
}

@media (max-width: 426px) {
    #sec-five .input-group input {
        width: 100%;
    }
}

@media (max-width: 376px) {
    .footer-links {
        font-size: 10px;
    }
}


