@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.site-logo {
  font-family: sans-serif;
}

.Image {
  width: 40%;

  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0),
      rgba(82, 43, 5, 0.46)
    ),
    url("../img/sign-up images/login-image.png");

  background-repeat: no-repeat;

  background-size: cover;
}
.form {
  width: 60%;
  background-color: #ffffff;
}
.font-playfair {
  font-family: Playfair Display;
}
.font-source {
  font-family: "Source Sans Pro", sans-serif;
}
.orange {
  color: #f5820e !important;
}

.h {
  height: 2.5rem;
  border: 1px solid #311a03;
  background: #ece0e0;
}
.form-control:focus {
  color: #212529;
  background-color: #fff;
  border: 3px solid #f5820e !important;
  
  box-shadow: 0 0 0 0.25rem #fff !important;
}

.btn-primary:hover {
  color: #fff;
  background-color: #f5820e !important;
  border-color: #f5820e !important;
}
.btn-check:focus + .btn-primary,
.btn-primary:focus {
  color: #fff;
  box-shadow: 0 0 0 0.25rem #f5820e !important;
}

.btn-primary {
  background-color: #f5820e !important;
}
.form-check-input:focus {
  border-color: #f5820e !important;
  box-shadow: 0 0 0 0.25rem #ece0e0 !important;
}
.form-check-input:checked {
  background-color: #f5820e !important;
  border-color: #f5820e !important;
  color: #f5820e !important;
}
.form-check-input {
  width: 2em !important;
  height: 2em !important;
  border: 2px solid #f5820e !important;
  color: #f5820e !important;
  background-color: aliceblue !important;
}

.input-container {
  /* display: -ms-flexbox; */
  display: flex;
  margin-bottom: 15px;
}

.header-postion {
  position: absolute;
  top: 1rem;
  z-index: 1;
}

/* Mobile view */
@media (max-width: 426px) {
  .Image {
    display: none;
  }
  .form {
    width: 100vw;
    min-width: 80vw;
  }
  .container-mobile {
    width: 80%;
    margin: 0 auto;
  }
  .back-button {
    display: none;
  }
  .text-log {
    font-size: 24px;
  }
  .width{
    width:82% !important;
  }

  .label-size {
    font-size: 15px !important;
  }
}
@media (max-width: 321px) {
  .label-size {
    font-size: 11px !important;
  }
  
  .form-check-input {
    width: 18px !important;
    height: 18px !important;
  }
  .form {
    width: 100vw;
    min-width: 80vw;
  }
}
/* Tablet view */
  @media (max-width: 769px) {
    .width{
      width:85% !important;
    }
  }