@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Playfair Display;
}

.new-family {
  font-family: 'Source Sans Pro', sans-serif !important;
}

.actived {
  border-bottom: 3px solid black;
}

.mobile-slide {
  display: none;
}

.site-logo,
.family-hire {
  font-family: sans-serif;
}

.bg-color {
  background-color: #FFEDDC;
}

#sec-one {
  width: 100%;
  min-height: 70vh;
  background: url(../img/bg-image.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 2rem 0;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
}

/* button */
.bg-hire {
  background-color: #F5820E;
  padding: 0.8rem 4rem;
}

.bg-signup {
  background: #F5820E;
  border-radius: 8px;
}

.btn-social{
  display: none ;
  margin-top: 50%;
}

.btn-wrapper{
  display: flex;
}

.bg-hiree {
  padding: 0.8rem 4rem;
}

.bg-hireee {
  width: 200px;
  padding: 0.8rem 1.5rem;
  font-size: smaller;
}

.bg-hires {
  color: #F5820E;
  padding: 0.8rem 4rem;
}

.carousel-btn {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  margin-right: 0.5rem;
}

.holder {
  width: 80%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 5%;
  color: #fff;
  left: 10%;
  text-align: center;
}

#sec-one__container {
  width: 100%;
  position: absolute;
  bottom: 5%;
  color: #fff;
  text-align: center;
  overflow: hidden;
  padding: 2rem 0;
}

#sec-one__container p {
  width: 40%;
  margin: 0 auto;
}


#sec-two {
  overflow: hidden;
  background-color: #FFF0E1;
}

#sec-five {
  background-color: #3A3A3A;
}

#sec-six {
  background-color: #626262;
}

.family-one {
  font-size: 22px;
}

.family-two {
  font-size: 15px;
  font-weight: 500;
}

.family-three {
  font-size: 18px;
}

.banners {
  width: 49%;
}

@media all and (max-width: 769px) {
  .card-holder {
    width: 100%;
  }

  .card-holder2 {
    display: none;
  }

  #sec-one__container p {
    width: 100%;
    margin: 0 auto;
  }

  .cj {
    justify-content: center;
  }

  .centralize {
    text-align: center;
  }

  .actived {
    border: none;
  }

  .btn-font{
    font-size: 10px ;
  }

  .bg-signup {
   width: 70px;
   text-align: center;
  }

}
  



@media all and (max-width: 450px) {
  #sec-five .input-group input {
      width: 100%;
    }

  #sec-one {
    min-height: 30vh;
  }

  .card-holder {
    width: 100%;
  }

  .card-holder2,
  .card-holder3  {
    display: none;
  }

  .font {
    font-size: 0.6rem;
  }

  .mobile-slide {
    display: block;
  }

  .desktop-slide {
    display: none;
  }

  .banner {
    width: 100%;
  }
  
  #sec-one__container {
    position: static;
    background-color: #FFF0E1;
    padding: 1rem 0 0 0;
  }

  .title{
    font-size: 1.4rem;
    color: black;
  }
  .sec-title {
    color: black;
  }

  .btn-wrapper {
    display: none !important;
    
  }
  .btn-social{
    display: flex;
  }

  .anchor-imgs{
    display: none;
  }
  
}





@media (max-width: 376px) {
  .xs-screen1 {
    width: 50%;
  }
  .xs-screen2 {
      width: 100%;
      margin: 0 auto;
    }
  .footer-links {
    font-size: 12px;
  }
  
}




/* .bg-signup {
  background: #F5820E;
  border-radius: 8px;
}

.bg-signup {
  width: 70px;
  text-align: center;
 } */