@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Playfair Display;
}

.site-logo {
  font-family: sans-serif;
}

.bg-hire {
  background-color: #F5820E !important;
  padding: 0.8rem 4rem !important;
}

.bg-hires {
  color: #F5820E;
  padding: 0.8rem 4rem;
}

@media (max-width: 426px) {
  .link {
    font-size: 15px !important;
  }
}