@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Playfair Display;
}
a{
  text-decoration: none;
}

body{
  background-color: #fff;
  opacity: .8;
}
p{
  font-family: Source Sans Pro;
}
.site-logo {
  font-family: sans-serif;
}

.h {
  height: 2.3rem;
}

.container{
  max-height: 100%;
  max-width: 100%;
}

.wineImg{
  width: 100%;
  height: 100%;
  background-image: url("../img/vendor\ img/wine.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

.image{
  width: 30%;
}

.marginStyle{
  display: none;
}

.form-body{
  width: 65%;
}

.form-div{
  width: 100%;
}

.top-50{
  top: 480px !important;
}

.logo{
  width: 200px;
  height: 25px;
}

.form-control{
  border-radius: 0.50rem !important;
}
.bg-hire {
  background-color: #F5820E;
  margin-top: 70px;
}

.back{
  color: #fff;
  background-color: #F5820E;
  border-color: #F5820E;
  padding: 4px 30px 4px 30px;
}



@media screen and (max-width: 426px) {
  .image{
      width: 100%;
      margin-top: 80px;
  }
  .image h3{
    font-size: 30px;
  }
  .form-body{
    padding-left: 10px;
    padding-right: 10px;
  }
  .form-texts{
    padding-left: 10px;
    padding-right: 10px;
  }
  .marginStyle{
    margin-left: 5px;
    display: block;
  }
  .logo-right {
    display: none;
  }
  .d-flex{
    flex-direction: column !important;
  }
  .form-body{
    width: 100%;
  }
  .back{
    display: none;
  }
  .wineImg{
    margin-left: 23px;
    width: 100%;
    background-image: url("../img/vendor\ img/wine.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 92vh;
    max-width: 90vw;
    object-fit: cover;
  }
 
  .wine{
    display: none;
  }
  .ms-auto{
    margin-left: 5px !important;
  }
  .site-logo{
    font-size: 18px;
  }
  .top-50{
    top: 250px !important;
    left: 20px !important;
  }
}

@media screen and (max-width: 376px){
  .form-body{
    width: 100%;
  }
  .ms-auto{
    margin-left: 5px !important;
  }
  .site-logo{
    font-size: 18px;
  }
  .top-50{
    top: 250px !important;
    left: 20px !important;
  }
}
