<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css\check-mail.css" />
    <link rel="stylesheet" href="css\bootstrap.min.css" />
    <title> Reset link | CRYSTALEVENT</title>
  </head>
  <body class="position-relative">

    <div class="header-postion w-100 ">
     <div class="d-flex justify-content-between align-content-center w-100">
      <div class="back-button">
        <a href="sign-up.html">
      <button type="submit" class="btn btn-primary border-0 ms-3">Back</button>
        </a>
    </div>
      <!-- <div class="container-fluid"> -->
        <!-- <div class=" d-flex  align-items-end justify-content-end"> -->
          <a class="navbar-brand ms-auto">
            <img
              src="img\landing-page img\site-logo.png"
              width="20"
              height="20"
              class="img-fluid"
              alt="logo"
            />
            <span class="site-logo text-dark">CRYSTALEVENT</span>
          </a>
        <!-- </div> -->
       </div> 
    </div>
    </div>
<!-- <div class="big-screen"> -->
  <div class="container-mobile">
    <section class="d-flex">
      
      <section class="Image">
      </section>
      
      <section class="form   mt-5 ps-md-3 px-lg-5 mt-5 text-center">
        <div class="container container-md">
         <img src="img\check-mail\mail.png" alt="mail" class="img-fluid" style="width: 16rem;">
         <p class="font-playfair fw-bolder fs-1">Check your mail</p>
         <p class="font-source fw-bold">We have sent password recover 
            instructions to your email.</p>
                  
           
            
              <div class=" d-flex justify-content-center mt-4 mb-4">
              <button type="submit" class="btn btn-primary border-0 font-source fw-bold w-auto w-25"> <a href="mailto:gmail.com" class="text-decoration-none text-white">Open email app </a></button>
              </div>
            </form>
        <p class="text-center mt-2 font-source fw-bold">Skip, I’ll confirm later</p>
      </div>
      
      </section>
    </div>
    </section> 
    </div>  
  </body>
</html>