<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/booking.css" />
  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <link rel="icon" href="favicon.ico">
  <title>Bookings | CRYSTALEVENT</title>
</head>
<body>

  <header>
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <a class="navbar-brand ms-auto">
          <img
            src="./img/landing-page img/site-logo.png"
            width="20"
            height="20"
            class="img-fluid"
            alt="logo"
          />
          <span class="site-logo">CRYSTALEVENT</span>
        </a>
    </nav>
  </header>

  <section id="sect-one">
    <div class="container text-center">
      <img src="./img/landing-page img/success.png" class="img-fluid w-50" alt="success">
      <h3 class="display-5 fw-bold text-center">Appointment booked <br> Succesfully</h3>
      <p class="lead family-one">Kindly be availiable for a meeting on the 27th or 28th of <br> oct 2022 for a live interview with the managment of <br> Crystal events 
      </p>
      <a href="index.html">
        <button class="btn text-white btn-lg mb-5 mt-2  bg-hire" type="button" id="button-addon2">Proceed to login</button>
      </a>
    </div>
  </section>
</body>
</html>