<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="favicon.ico">
  <link rel="stylesheet" href="./css/contact.css">
  <link rel="stylesheet" href="./css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Contact | CRYSTALEVENT</title>
</head>
<body>

  <!-- HEADER -->
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom border-4 border-warning">
      <div class="container">
        <a class="navbar-brand">
          <img src="img/landing-page img/site-logo.png" width="20" height="20" class="img-fluid" alt="logo" />
          <span class="site-logo">CRYSTALEVENT</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link fw-bold" aria-current="page" href="login.html">
                <p>Login</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-bold" href="sign-up.html">
                <p>Sign up</p>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-light bg-color">
      <div class="container">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="index.html">
                <p class="fw-bold me-5">Home</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="service.html">
                <p class="fw-bold me-5">Services</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="work.html">
                <p class="fw-bold me-5">Work</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="faq.html">
                <p class="fw-bold me-5">FAQ</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact.html">
                <p class="fw-bold me-5 active">Contact Us</p>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

<!-- MAIN SECTION -->
<div  class="container py-3 mt-3  justify-content-center">
<div class="row">  
  <div class="col-lg-6 col-md-6 col-sm-12 mt-5">
    <div class="card h-75 row-card ">
      <div class="card-body ">
        <h3 class="text-center">Contact Information</h3>
       <p> Fill in the form and our team would get back to you in 24hrs </p>
        <div class="reach mt-4">
          <span class="d-flex mb-4">
            <a href="tel:+234902214533">
            <img src="./img/contact-img/phone-icon.png" alt="phone-icon">
          </a>
             <p>+234902214533</p>
          </span>
        </div>
        <div class="reach">
          <span class="d-flex ">
          <a href="mailto: Cystalevent@gmail.com ">
            <img src="./img/contact-img/email-icon.png" alt="email-icon">
          </a> 
            <p>Cystalevent@gmail.com</p>
          </span>

          <div class="position-absolute bottom-0 end-0 icony">
            <a href="https://instagram.com/">  
              <img src="./img/contact-img/insta-icon.png" alt="insta-icon"> 
            </a>
            <a href="https://facebook.com/">
              <img src="./img/contact-img/fb-icon.png" alt="facebook-icon">
            </a>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 form-part">
    <h3 class="text-center">Contact Us</h3>
    <form>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label fw-bolder fs-5 label-size font-playfair"
          >Your Name</label
        >
        <input
          type="text"
          class="form-control"
          placeholder="Mariam Alli"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"  required
          
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label fw-bolder fs-5 label-size font-playfair"
          >Email</label
        >
        <input
          type="email"
          class="form-control "
          placeholder="mariamevents247@gmail.com"
          id="exampleInputEmail2"
          aria-describedby="emailHelp" required
        />
      </div>
      <div class="mb-3">
        
        <label for="exampleInputEmail1" class="form-label fw-bolder fs-5 label-size font-playfair">Phone Number</label>
        
        
        <div class="position-relative form-control h">
            <input
                class=" form-control h-100 m-auto position-absolute top-0 start-0  border-0 border-end ps-lg-2"
                type="tel" placeholder="+234" name="phoneNumber" style="width: 30%;"  required />
            <input
                class=" form-control h-100 m-auto position-absolute top-0 end-0 rounded-end border-0 border-start width"
                type="tel" placeholder="80555647382" name="phoneNumber" style="width: 92%;"  required />
        </div>
    </div>
      
         

      <div class="mb-3">
        <label
          for="exampleInputPassword1"
          class="form-label fw-bolder fs-5 label-size font-playfair "
          >Password</label
        >
        <div class="input-container">
          <input
            type="password"
            class="form-control"
            placeholder="******** "
            id="exampleInputPassword1" required
          />
          <i
            class="bi bi-eye-slash-fill"
            id="togglePassword"
            style="margin-left: -37px; margin-top: 11px; cursor: pointer"
          ></i>
        </div>
      </div>
      
        
     <div class="mb-3">
      <label
      for="message"
      class="form-label fw-bolder fs-5 label-size font-playfair "
      >Message</label
    >
       <textarea rows="10" class="form-control rounded"  id="floatingTextarea"></textarea>
      </div>
      <div class="mb-3">
        <h4 class="fw-bold">Attach your file</h4>
        <input type="file" id="choose_file">
      </div>
      <button type="submit" class="btn btn-primary orange w-100">Submit</button>
    </form>
  </div>
</div>
</div>

 <!-- FOOTER -->
 <footer id="sec-five">
  <div class="container">
    <h3 class=" text-center text-light pt-5">Contact Us</h3>
    <div class="container">
      <div class="row">
        <div class="col-lg-7 mx-auto">
          <div class="input-group my-3 d-flex flex-wrap gap-3 align-items-center justify-content-center">
            <input type="email" class="form-control py-3 d-inline-flex"
              style="background-color: #3A3A3A; color: #ffffff;" placeholder="Email Address" aria-label="Email Address"
              aria-describedby="button-addon2">
            <button class="btn bg-hire text-white btn-lg" type="button" id="button-addon2">SUBSCRIBE</button>
          </div>
        </div>
      </div>
    </div>

    <section class="">
      <div class="container text-white mt-3 footer-links">
        <div class="row mt-3 text-start">
          <div class="col-lg-3 col-md-6 col-6 mb-3">
            <p class="fw-bold mb-3">COMPANY</p>
            <a href="account.html" class="text-secondary text-decoration-none mb-4 d-block">My Account</a>
            <a href="about.html" class="text-secondary text-decoration-none mb-4 d-block">About Us</a>
            <a href="faq.html" class="text-secondary text-decoration-none mb-4 d-block">Faqs</a>
            <a href="contact.html" class="text-secondary text-decoration-none mb-4 d-block">Contact Us</a>
          </div>

          <div class="col-lg-3 col-md-6 col-6 mb-3">
            <p class="fw-bold mb-3 ">CUSTOMER SERVICE</p>
            <a href="tc.html" class="text-secondary text-decoration-none mb-4 d-block">Terms &
              Conditions</a>
            <a href="refunds.html" class="text-secondary text-decoration-none mb-4 d-block">Returns &
              Refunds</a>
            <a href="help-support.html" class="text-secondary text-decoration-none mb-4 d-block">Help &
              Supports</a>
            <a href="privacy.html" class="text-secondary text-decoration-none mb-4 d-block">Privacy</a>
          </div>

          <div class="col-lg-3 col-md-6 col-6 mb-3">
            <p class="fw-bold mb-3">SOCIAL MEIDA</p>
            <a href="https://twitter.com/" class="text-secondary text-decoration-none mb-4 d-block">Twitter</a>
            <a href="https://www.linkedin.com/" class="text-secondary text-decoration-none mb-4 d-block">LinkedIn</a>
            <a href="https://instagram.com/" class="text-secondary text-decoration-none mb-4 d-block">Instagram</a>
          </div>

          <div class="col-lg-3 col-md-6 col-6 mb-3">
            <p class="fw-bold mb-3">ARCHIVE</p>
            <a href="pricelist.html" class="text-secondary text-decoration-none mb-4 d-block">Price List</a>
            <a href="our-vendor.html" class="text-secondary text-decoration-none mb-4 d-block">Our
              Vendors</a>
            <a href="event-category.html" class="text-secondary text-decoration-none mb-4 d-block">Event
              Category</a>
          </div>

        </div>
      </div>
    </section>
</footer>

<section id="sec-six">
  <div class="text-center text-light p-3">© Crystal events 2022 all rights reserved.</div>
</section>

</body>
<script src="./js/bootstrap.min.js"></script>

</html>