<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css\new-password.css" />
    <link rel="stylesheet" href="css\bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <title>Create new password | CRYSTALEVENT</title>
</head>
<body>
  <title>Login | CRYSTALEVENT</title>
</head>
<body class="position-relative">

  <div class="header-postion w-100 ">
   <div class="d-flex justify-content-between align-content-center w-100">
    <div class="back-button">
      <a href="sign-up.html">
    <button type="submit" class="btn btn-primary border-0 ms-3">Back</button>
      </a>
    </div>
        <a class="navbar-brand ms-auto">
          <img
            src="img\landing-page img\site-logo.png"
            width="20"
            height="20"
            class="img-fluid"
            alt="logo"
          />
          <span class="site-logo text-dark">CRYSTALEVENT</span>
        </a>
      <!-- </div> -->
     </div> 
  </div>
  </div>
<!-- <div class="big-screen"> -->
<div class="container-mobile">
  <section class="d-flex">
    
    <section class="Image">
    </section>
    
    <section class="form   mt-5 ps-md-3 px-lg-5 mt-5">
      <div class="container container-md">
                
          <h2 class="text-center mt-5 text-log font-playfair" > <span class="ms-2">Create  </span> <span class="orange">new password</span></h2>
           <p class="font-source  fw-bold  mt-4 text-center text-log ">Your new password must be different from previous passwords.</p> 
          <form>
             <div class="mt-4 ">
              <label for="exampleInputPassword1" class="form-label fw-bolder fs-5 label-size font-playfair">Password</label>
              <div class="input-container">
              <input type="password" class="form-control input-field  font-source fw-bold" placeholder="******** " id="exampleInputPassword1"> 
              <i class="bi bi-eye-slash-fill" id="togglePassword" style="margin-left: -30px; margin-top: 11px;cursor: pointer;"></i>
              </div>
              </div>
              <div class="mt-4 ">
                <label for="exampleInputPassword2" class="form-label fw-bolder fs-5 label-size font-playfair">Confirm Password</label>
                <div class="input-container">
                <input type="password" class="form-control input-field  font-source" placeholder="******** " id="exampleInputPassword2"> 
                <i class="bi bi-eye-slash-fill" id="togglePassword" style="margin-left: -30px; margin-top: 11px;cursor: pointer;"></i>
                </div>
                </div>  
                <div class=" d-flex justify-content-center mt-4 mb-4">
                  <button type="submit" class="btn btn-primary w-75 border-0 font-source fw-bold">Reset password</button>
                  </div>
                </form>   
    </section>
  </div>
  </section> 
  </div>
  <script src="js\script.js"></script>   
</body>
</html>

   