<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css\reset.password.css" />
    <link rel="stylesheet" href="css\bootstrap.min.css" />
    <title>Reset Password | CRYSTALEVENT</title>
</head>
<body>
    
    <div class="header-postion w-100 ">
        <div class="d-flex justify-content-between align-content-center w-100">
          <div class="back-button">
            
            <a href="login.html">
         <button type="submit" class="btn btn-primary border-0 ms-3">Back</button>
            </a>
        </div>
         <!-- <div class="container-fluid"> -->
           <!-- <div class=" d-flex  align-items-end justify-content-end"> -->
             <a class="navbar-brand ms-auto">
               <img
                 src="img\landing-page img\site-logo.png"
                 width="20"
                 height="20"
                 class="img-fluid"
                 alt="logo"
               />
               <span class="site-logo text-dark">CRYSTALEVENT</span>
             </a>
           <!-- </div> -->
          </div> 
       </div>
       </div>
   <!-- <div class="big-screen"> -->
    <div class="Reset-password">
     <div class="container-mobile">
       <section class="d-flex">
         <section class="Image">
         </section>
        
         <section class="  mt-5 ps-md-3 px-lg-5">
            <div class="container">       
               <h2 class="text-center mt-5 text-log container-md font-playfair" > <span class="ms-2">Reset </span> <span class="orange">Password</span></h2>
               <p class="mt-5 reset-text fw-bold font-source"> 
                
                Enter the email associated with your account and 
                we’ll send an email with 
                instructions to reset your password.</p>
               
               <form>
                 <div class="mb-5">
                   <label for="exampleInputEmail1" class="form-label fw-bolder fs-5 label-size font-playfair">Email</label>
                   <input type="email" class="form-control" placeholder="mariamevents247@gmail.com"    id="exampleInputEmail1" aria-describedby="emailHelp">
                   </div>
                
                 <div class=" d-flex justify-content-center mt-4 mb-4">
                 <button type="submit" class="btn btn-primary w-75 border-0 font-source fw-bold">Send Instructions</button>
                 </div>
               </form>
         </div>
         
         </section>
       </div>
       </section> 
       </div>  
     </body>
   </html>
    
</body>
</html>