@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.site-logo {
  font-family: sans-serif;
}

.Image {
  width: 40%;
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0),
      rgba(82, 43, 5, 0.46)
    ),
    url("../img/sign-up images/login-image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  
}
.form {
  width: 60%;
  background-color: #ffffff;
  
}
.font-playfair {
  font-family: Playfair Display;
}
.font-source {
  font-family: "Source Sans Pro", sans-serif;
}

.orange {
  color: #f5820e;
}

.form-control:focus {
  border: 3px solid #f5820e !important;
  box-shadow: 0 0 0 0.25rem #fff !important;
}

.btn-primary:hover {
  color: #fff;
  background-color: #f5820e !important;
  border-color: #f5820e !important;
}
.btn-check:focus + .btn-primary,
.btn-primary:focus {
  color: #fff;
  box-shadow: 0 0 0 0.25rem #f5820e !important;
}

.btn-primary {
  background-color: #f5820e !important;
}

.header-postion {
  position: absolute;
  top: 1rem;
  z-index: 1;
}

.input-container {
  /* display: -ms-flexbox; */
  display: flex;
  margin-bottom: 15px;
}

/* Tablet view */
@media (max-width: 769px) {
  .form {
    min-width: 60vw;
  }
  .image {
    width: 40vw;
  }
}
/* Mobile view */
@media (max-width: 426px) {
  .Image {
    display: none;
  }
  .form {
    width: 100vw;
    min-width: 80vw;
    
  }
  .container-mobile {
    width: 80%;
    margin: 0 auto;
  }
  .back-button {
    display: none;
  }
  .text-log {
    font-size: 24px;
  }

  .label-size {
    font-size: 15px !important;
  }
}
@media (max-width: 321px) {
  .form {
    min-width: 80vw;
  }
}
