@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Playfair Display;
}

.mobile-slide {
  display: none;
}

.site-logo,
.family-hire {
  font-family: sans-serif;
}

.bg-color {
  background-color: #FFEDDC;
}

#sec-one {
  width: 100%;
  min-height: 70vh;
  background: url(../img/bg-image.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 2rem 0;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
}

/* button */
.bg-hire {
  background-color: #F5820E;
  padding: 0.8rem 4rem;
}

.btn-social{
  display: none ;
}
.btn-wrapper{
  display: flex;
}

.bg-hiree {
  padding: 0.8rem 4rem;
}

.bg-hires {
  color: #F5820E;
  padding: 0.8rem 4rem;
}

.carousel-btn {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  margin-right: 0.5rem;
}

.holder {
  width: 80%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 5%;
  color: #fff;
  left: 10%;
  text-align: center;
}

#sec-one__container {
  width: 100%;
  position: absolute;
  bottom: 5%;
  color: #fff;
  text-align: center;
  overflow: hidden;
  padding: 2rem 0;
}


#sec-two {
  overflow: hidden;
  background-color: #FFF0E1;
}

#sec-five {
  background-color: #3A3A3A;
}

#sec-six {
  background-color: #626262;
}

.family-one {
  font-size: 22px;
}

.family-two {
  font-size: 15px;
  font-weight: 500;
}

.family-three {
  font-size: 18px;
}

.banners {
  width: 49%;
}

.active {
  border-bottom: 3px solid black;
}

@media (max-width: 376px) {
  .footer-links {
    font-size: 12px;
  }
}

@media (max-width: 426px) {
  #sec-five .input-group input {
    width: 100%;
  }
}

@media all and (max-width: 450px) {
  #sec-one {
    min-height: 30vh;
  }

  .card-holder {
    width: 100%;
  }

  .card-holder2 {
    display: none;
  }

  .font {
    font-size: 0.6rem;
  }

  .mobile-slide {
    display: block;
  }

  .desktop-slide {
    display: none;
  }

  .banner {
    width: 100%;
  }
  
  #sec-one__container {
    position: static;
    background-color: #FFF0E1;
    padding: 1rem 0 0 0;
  }

  .title{
    font-size: 1.4rem;
    color: black;
  }
  .sec-title {
    color: black;
  }

  .btn-wrapper {
    display: none !important;
    
  }
  .btn-social{
    display: flex;
  }
  
}


@media all and (max-width: 769px) {
  .card-holder {
    width: 100%;
  }

  .card-holder2 {
    display: none;
  }

  .cj {
    justify-content: center;
  }

  .centralize {
    text-align: center;
  }

  .active {
    border: none;
  }
}